server {
    listen 80;
    listen [::]:80;
    server_name __SERVER_NAME__;

    location ^~ /.well-known/acme-challenge/ {
        default_type "text/plain";
        root /var/lib/myproxy-acme;
        try_files $uri =404;
    }

    location / {
        return 404;
    }
}
